<h1>Login</h1>

<!-- show any messages that come back with authentication -->

<div class="alert alert-danger">{{ message }}</div>

<!-- LOGIN FORM -->
<form action="/login" method="post">
    <a href="/auth/twitter" class="btn btn-info"><img src="https://www.sourcecoast.com/images/promo/twitter_logo.png" height="35px"> Twitter</a>

</form>

<hr>

<p>Need an account? <a href="/signup">Signup</a></p>
<p>Or go <a href="/">home</a>.</p>
